[submodule "project/submodules/hamer"]
	path = project/submodules/hamer
	url = https://github.com/geopavlakos/hamer
[submodule "assignment-2/submodules/nanotron"]
	path = assignment-2/submodules/nanotron
	url = https://github.com/irmakguzey/nanotron
[submodule "project/submodules/vrb"]
	path = project/submodules/vrb
	url = https://github.com/shikharbahl/vrb.git
